<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous">
</head>
<body style="background-image: url('/static/tlodokortu.jpeg');height:100vh;align-items:center; display:flex; justify-content: center;">
<form method="POST" action="/dodaj_kort" style="width:50%">
    <div style=" width:100%;align-items:center; border-radius:30px;padding:20px;background-color: black; margin:0 auto;display:flex; flex-direction:column; justify-content:center; text-align:center; color:white">
        <h4>Dodaj kort</h4>
    </div>
    <div style="width:100%; display: flex; flex-direction: column; color:white" class="form-group">
        <label style="text-align: left;margin:0" for="nazwa">Nazwa</label>
        <input style="width:100%; border:none; height:45px ;border-radius: 0px;" type="text" name="nazwa" class="text" id="nazwa" aria-describedby="emailHelp">
    </div>
    <div style=" width:100%;display: flex; flex-direction: column;color:white" class="form-group">
        <label style="text-align: left;margin:0" for="wysokoscSiatki">Wysokość siatki</label>
        <input style="width:100%;border:none; height:45px ;border-radius: 0px;" type="text" name="wysokoscSiatki" class="text" id="wysokoscSiatki" aria-describedby="emailHelp">
    </div>
    <div style="width:100%;display: flex; flex-direction: column;color:white"class="form-group">
        <label style="text-align: left;margin:0" for="wyposazenie">Wyposażenie</label>
        <input style="width:100%;border:none; height:45px;border-radius: 0px; " type="text" name="wyposazenie" class="text" id="wyposazenie" aria-describedby="emailHelp">
    </div>
    <div style="width:100%;display: flex; flex-direction: column;color:white" class="form-group">
        <label  style="text-align: left;margin:0" for="odbicie">Odbicie</label>
        <input style="width:100%;border:none; height:45px;border-radius: 0px;" type="text" name="odbicie" class="text" id="odbicie" aria-describedby="emailHelp">
    </div>
    <div style="text-align: center;">
        <button type="submit" style="margin-top:20px; font-weight:500; text-align:center; width:40%; background-color:grey; color:rgb(1, 1, 1); border-radius:0px; border:none; padding:10px 5px">
            <a style="color:rgb(1, 1, 1); text-decoration:none">Dodaj</a>
        </button>
    </div>
</form>
</body>
</html>
