<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Book a Tennis Court</title>
    <style>
        .table-row:hover{
            background-color:#6d7792;
        }
        .add-btn{
            background-color:grey;
             color:rgb(1, 1, 1);
             border-radius:5px;
             border:none;
              padding:10px 5px;
              width:30vh;
              font-weight:800;
        }
        .add-btn:hover{
           opacity:0.8;
            cursor: pointer;
        }
    </style>
</head>
<body>
{% include "index.html"%}
<div style = "width:100%; display:flex; flex-direction: row; margin:0 auto;padding :25px; gap:10px; justify-content:flex-beginning">
<h2 style="color:white;">Korty</h2>
<a style="color:rgb(1, 1, 1); text-decoration:none" href="Dodaj"><button type="submit" class="add-btn">Dodaj kort</button></a>
<a style="color:rgb(1, 1, 1); text-decoration:none" href="Rezerwuj"><button type="submit" class="add-btn">Zarezerwuj grę</button></a>
<a style="color:rgb(1, 1, 1); text-decoration:none" href="Rezerwacje"><button type="submit" class="add-btn">Rezerwacje</button></a>
</div>
<table style="width:80%; margin:0 auto; border-radius:0px; background-color:black; padding:10px; table-layout: fixed; word-wrap:break-word;">
<tr style="color:darkgrey; border-collapse:collapse; border-bottom: 1px solid rgb(207, 207, 207); font-size:15px">
    <th style = "text-align: center;vertical-align:middle;padding: 5px">ID</th>
    <th style = "text-align: center;vertical-align:middle;padding: 5px">Nazwa</th>
    <th style = "text-align: center;vertical-align:middle;padding: 5px">Wysokość siatki</th>
    <th style = "text-align: center;vertical-align:middle;padding: 5px">Wyposazenie</th>
    <th style = "text-align: center;vertical-align:middle;padding: 5px">Odbicie</th>
</tr>
{% for kort in korty %}
    <tr class="table-row" style="color:white; border-collapse:collapse; padding:30px; border-bottom: 1px solid rgb(207, 207, 207); " >
        <td style = "text-align: center;vertical-align:middle; padding: 15px">{{kort.id}}</td>
        <td style = "text-align: center;vertical-align:middle; padding: 15px">{{kort.nazwa}}</td>
        <td style = "text-align: center;vertical-align:middle; padding: 15px">{{kort.wysokoscSiatki}}</td>
        <td style = "text-align: center;vertical-align:middle; padding: 15px">{{kort.wyposazenie}}</td>
        <td style = "text-align: center;vertical-align:middle; padding: 15px">{{kort.odbicie}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

